body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

body {
	background-color: #15294b;
	color: #ffffff;;
	font-family: Arial, sans-serif;
	margin: 70px;
	font-size: 10px;
}



h1 {
  font-style: italic;
  font-size: 32px;
  color: #ffffff;
  margin: 6px;
}


video {
  clear: both;
  display: block;
  background: #0f172a;
  width: 800px;
  height: 600px;
  border: 15px solid #aaa;
  border-radius: 80px;
  border-color:#0f172a;
  color: #00FF22;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

button {
  margin: 5px 3px 5px 10px;
    color: #ffffff;
	background-color:#0f172a;
	font-family: 'Consolas', 'Courier New', monospace;
	font-size: 15px;
	border-radius: 30px;
	text-align: center;
	padding: 10px;

}

.removed {
  display: none;
}

#status {
  font-size:150%;
}